.hello {
  color: rgb(27, 230, 162);
  background: url('../img/snow.jpg');
  font-family: 'maobi';
  font-size: 10vh;
}

@font-face {
  font-family: 'maobi';
  src: url(./HYShangWeiShouShuW.ttf);
}
